<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AuthControlador</servlet-name>
        <servlet-class>controlador.AuthControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RutaControlador</servlet-name>
        <servlet-class>controlador.RutaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViajeControlador</servlet-name>
        <servlet-class>controlador.ViajeControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasajeroControlador</servlet-name>
        <servlet-class>controlador.PasajeroControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControlador</servlet-name>
        <servlet-class>controlador.UsuarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReporteControlador</servlet-name>
        <servlet-class>controlador.ReporteControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthControlador</servlet-name>
        <url-pattern>/AuthControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RutaControlador</servlet-name>
        <url-pattern>/RutaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViajeControlador</servlet-name>
        <url-pattern>/ViajeControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasajeroControlador</servlet-name>
        <url-pattern>/PasajeroControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControlador</servlet-name>
        <url-pattern>/UsuarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReporteControlador</servlet-name>
        <url-pattern>/ReporteControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
